<div class="container home__container">
    {{#if posts}} {{#each posts}}
    <div class="home__blog--post">
        <a href="/posts/show/{{this._id}}">{{this.title}}</a>
        <p class="home__blog--post--category">{{this.category}}</p>
        <p>by {{this.author}}</p>
        <p>{{#moment}}{{this.date}}{{/moment}}</p>
    </div>
    {{/each}} {{/if}}
</div>