<div class="container home__container">
    {{#if posts}} {{#each posts}}
    <div class="home__blog--post">
        <a href="/posts/show/{{this._id}}">{{this.title}}</a>
        <p>{{this.category}}</p>
        <p>{{this.author}}</p>
        <p>{{this.author}}</p>
    </div>
    {{/each}} {{/if}}
</div>