<div class="container home__container">
    <div class="home__blog--post">
        {{#if data}} {{#each data}}
        <img src="./images/{{data.cover}}" style="display:block" alt="cover" width="100%" height="310px">
        <a href="/posts/show/{{this._id}}">{{Data.title}}</a>
        <p class="home__blog--post--category">posted in {{Data.category}}</p>
        <p>by {{Data.author}}</p>
        <p>on {{Data.date}}</p>
    </div>
</div>