<div class="container home__container">
    {{#if data}}
    <div class="home__blog--post">
        <img src="./images/{{data.cover}}" style="display:block" alt="cover" width="100%" height="310px">
        <a href="/posts/show/{{this._id}}">{{this.title}}</a>
        <p class="home__blog--post--category">posted in {{this.category}}</p>
        <p>by {{this.author}}</p>
        <p>on {{this.date}}</p>
    </div>
    {{/if}}
</div>